.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 90%;
}

body {
  font-size: 14pt;
}
