{
  "rules": {
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "semi": [1, "always"],
    "comma-dangle": [1, "only-multiline"],
    "no-console": 0,
    "no-unused-vars": [1, { "vars": "all", "args": "none" }],
    "no-multiple-empty-lines": [1, { "max": 1 }],
    "prefer-const": 1,
    "no-var": "warn",
    "prefer-arrow-callback": "warn"
  },
  "env": {
    "es6": false,
    "browser": false,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "globals": {
    "require": true,
    "module": true,
    "exports": true,
    "Promise": true
  }
}
