<html>

<head>
  <title>AmeoBin Rendered Markdown</title>
  <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
  <style>
    body {
      margin-left: 10vw;
      margin-right: 10vw;
    }

    p {
      padding-bottom: 0.3rem;
    }

    code {
      line-height: 1.5 !important;
    }
  </style>
</head>

<body>
  <%- rendered %>
</body>

</html>
