<html>
<head>
<title>Ameotrack Image Manager</title>
<script src="https://ameo.link/u/sources/jquery-2.1.3.min.js"></script>
<script src="https://ameo.link/u/sources/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://ameo.link/u/sources/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://ameo.link/u/sources/style.css">
</head>
<body>
Ameotrack Image Manager
</body>
</html>