<html>

<head>
    <title>Anti-bot Portal</title>
</head>

<body>
    <p>Click the link below to view the content. It will be deleted after it is viewed.</p>
    <p>
        <a href="https://ameo.link/u/<%= filename %>">Click here</a>
    </p>
</body>

</html>
